#dropdown {
    position: relative;
    display: block;
}

#itemSprite {
    position: absolute;
    width: 128px;
    height: 128px;
    display: block;
    object-fit: none;
}

#itemSpriteHome {
    width: 128px;
    height: 128px;
    display: block;
    object-fit: none;
}

.nothing {
    object-position: -2531px -2930px;
}

.shovel {
    object-position: -5px -5px;
}